body {
    font-family: 'Istok Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#a6e4e7;
    gap: 250px;
}

.logo {
    font-size: 45px;  
    color: rgb(82, 46, 46); 
    margin-left: 20px;
}

.header-links {
    list-style-type: none;
    display: flex;
    margin: 25px;
    gap: 18px;
}

.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: rgb(82, 46, 46);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 18px;
    background-color: #a6e4e7;
    height: 80px; 
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebcbae;
    padding: 2em 0;
    /* background-image: linear-gradient(#b643cd, #bc52d1); */
}


.project-one {
    width: 300px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}

.projects-container > h3 {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(82, 46, 46);
}

.call-to-action {
    display: flex; 
    justify-content: center;
    gap: 100px;
    background-color: #f9f9f9;
    padding: 5em 0;
    /* background-image: linear-gradient(#35013f, #660279); */
}

.call-to-action button {
    background-color: #eee;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 12;
}

.call-to-action img, .project-one img {
    border-radius: 2%;
    box-shadow: 10px 10px 40px rgba(239, 241, 241, 0.425);
}

.left-info {
    width: 400px;
    color: rgb(82, 46, 46);
}

h1 {
    font-size: 48px;
    font-weight:bolder;

}

.call-to-action p {
    font-size: 18px;
}

.quote {
    display:flex;
    justify-content: center;
    font-size: 26px;
    font-weight: lighter;
    padding: 4em 0;
    background-color: #99ddcc;
}

.quote > p {
    width: 800px;
    color: rgb(82, 46, 46);
}

.contact-container {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 3em 0;
}

.contact {
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: space-evenly;
    background-color: #8f8787;
    padding: 28px;
    border-radius: 8px;
}

.content h4, .content p {
    margin: 0;
    font-size: 20px;
}

.contact button {
    background-color: #eee;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 12;
}

/* 
.first-color { 
	background: #a6e4e7; 
}
	
.second-color { 
	background: #f9f9f9; 
}

.third-color { 
	background: #ebcbae; 
}

.fourth-color { 
	background: #8f8787; 
}
*/
